<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="XMLReaderCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <XMLReaderCS.Properties.Settings>
            <setting name="pkk5_dpi" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent0" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent1" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent2" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent3" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent4" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent5" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent6" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent7" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent8" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent9" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDir" serializeAs="String">
                <value />
            </setting>
        </XMLReaderCS.Properties.Settings>
    </userSettings>
</configuration>
