
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

#define VER_FILEVERSION             1,0,0,1
#define VER_FILEVERSION_STR         "1.0.0.1\0"
#define VER_PRODUCTVERSION          6,00,0,0
#define VER_PRODUCTVERSION_STR      "6.00\0"

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif


//
// Icon resources
//
LANGUAGE 25, SUBLANG_DEFAULT
2                  ICON           "Resources/CryptApp.ico"


LANGUAGE 0, SUBLANG_NEUTRAL
IDI_ICON1          ICON           "Fixosoft2002.ico"
VERSION	100



VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS VER_DEBUG
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "CompanyName", "Fixosoft"
VALUE "FileDescription", "GUI Application for CSP (cspWrapper)"
VALUE "FileVersion", VER_FILEVERSION_STR
VALUE "InternalName", "cspUI"
VALUE "LegalCopyright", "Fixosoft All lefts reserved"
//VALUE "LegalTrademarks1", VER_LEGALTRADEMARKS1_STR
//VALUE "LegalTrademarks2", VER_LEGALTRADEMARKS2_STR
VALUE "OriginalFilename", "cspUI"
VALUE "ProductName", "fteo"
VALUE "ProductVersion", VER_PRODUCTVERSION_STR
END
END

BLOCK "VarFileInfo"
BEGIN
/* The following line should only be modified for localized versions.     */
/* It consists of any number of WORD,WORD pairs, with each pair           */
/* describing a language,codepage combination supported by the file.      */
/*                                                                        */
/* For example, a file might have values "0x409,1252" indicating that it  */
/* supports English language (0x409) in the Windows ANSI codepage (1252). */

VALUE "Translation", 0x409, 1252

END
END
