<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Traverser.Properties.Settings.gkndatabaseConnectionString" connectionString="User Id=gkndata_u1;Password=123;Host=82.119.136.82;Database=gkndatabase;Persist Security Info=True" providerName="Devart.Data.MySql"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
